{% load static %}

{% block body %}

{% include 'navigation.html' %}
<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: blue; font-weight: bold; margin-top: 1%;">
	Admin Login
</marquee>
<hr>
<form class="container mt-5" method="POST">
	{% csrf_token %}
	
	<label><b>UserName</b></label>
	<input type="text" class="form-control" name="uname" placeholder="Enter UserName">

	<label><b>Password</b></label>
	<input type="password" class="form-control" name="pwd" placeholder="Enter Password">

	<input type="submit" class="btn-primary" style="margin-top: 2%; color: white; background-color: blue; height: 40px; font-size: 20px">
</form>
{% ifequal error "no" %}
<script>
	alert("Login successful");
	window.location=('{% url 'admin_home' %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
	alert("Invalid Login credentials ");
</script>
{% endifequal %}
{% endblock %}