{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<style>
tr{text-align: center}
</style>
<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: blue; font-weight: bold; margin-top: 1%">
  Apply for Job
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <label class="font-weight-bold">Upload Resume</label>
      <input type="file" class="form-control" name="resume">

    </div>
    <input type="submit" value="Submit" class="btn btn-success mt-3">
    
  </form>
</div>
{% ifequal error "close" %}
<script>
  alert("Applications Submissions are closed, last date is over");
  window.location=('{% url 'user_latestjobs' %}')
</script>
{% endifequal %}
{% ifequal error "notopen" %}
<script>
  alert("Application is not open");
  window.location=('{% url 'user_latestjobs' %}')
</script>
{% endifequal %}
{% ifequal error "done" %}
<script>
  alert("Job Application submitted successfully");
  window.location=('{% url 'user_latestjobs' %}')
</script>
{% endifequal %}

{% endblock %}